body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("./stars.jpeg");
  background-size: cover;
  background-position: center;
}

.welcome-panel {
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.7;
}

.title-panel {
  background-color: white;
  opacity: 0.5;
  padding-bottom: 10px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  font-family: "JediFont";
  font-size: 80px;
}

.data-table {
  background: white;
  opacity: 0.8;
  width: 30%;
  font-size: 25px;
  text-align: center;
}

#row {
  border: black solid 2px;
}

.next-text {
  opacity: 0.8;
  background: white;
  font-size: 16px;
}

@font-face {
  font-family: "JediFont";
  font-style: normal;
  font-weight: 300;
  src: local("JediFont"),
    url("./star_jedi/starjedi/Starjhol.ttf") format("truetype"); /* Safari, Android, iOS */
}
